<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  type="image/png" sizes="32x32" href="../public/images/logoFlam.png">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Web</title>
</head>
<body>
    <header>
    <div class="logo">LOGO</div>
  
    <div class="menu-items">
      <a href="#">Discover</a>
      <a href="#">Rarity</a>
      <a href="#">How It Works</a>
      <a href="#">Community</a>
      <a class="special" href="#">HostNFTs</a>
    </div>
  
    <div class="lang">
      <div class="lang-en">En</div>
    </div>
  </header>
  
  <!--! ---------------------------- Hero Section ----------------------------- -->
  <!--# BG GIF -->
  <div class="bg-gif"><video autoplay loop src="https://cdn.dribbble.com/users/2733/screenshots/15581498/media/55cb2ac35a15f1ffe8e2f1e9d979feed.mp4" alt="bg" /></div>
  
  <!--# Hero ctr -->
  <div class="ctr">
    <!--! left-ctr -->
    <div class="left-ctr">
      <div class="left-ctr-1">
        <span>
          <h1>Discover</h1>
        </span>
        <span>
          <h1>&amp; Collect</h1>
        </span>
        <span>
          <h1>Our new</h1>
        </span>
        <span>
          <h1>Holography</h1>
        </span>
        <span>
          <h1>Nft's</h1>
        </span>
      </div>
      <div class="left-ctr-2">
        <div class="left-ctr-2-1">
          <p>
            Holography are your ticket into the largest and fastest growing Online Casino Network on the Blockchain. With only 10,000 VIP members ever to be minted, Holo grant holders access to the new world
            of Defi Gambling. Holo grant proof of ownership on the Ethereum Blockchain.
          </p>
        </div>
        <div class="left-ctr-2-2">
          <span>
            <p>Twitter</p>
          </span>
          <span>
            <p>Instagram</p>
          </span>
          <span>
            <p>Discord</p>
          </span>
        </div>
      </div>
    </div>
    <div class="right-ctr">
      <div class="right-ctr-box">
        <div class="right-ctr-box-inner-1">
          <h1>Holographic Head</h1>
          <p>Last Bid</p>
        </div>
        <div class="right-ctr-box-inner-2">
          <p>#3D #holo #new</p>
          <h1>2.251ETH <img src="./ethlogo.png" width="15" alt="" /></h1>
        </div>
      </div>
    </div>
  </div>
    
  <script>
    const tl = gsap.timeline();
tl.from([".logo, .menu-items a, .lang"], {
  duration: 1,
  opacity: 0,
  y: 40,
  stagger: { amount: 0.4 }
})
  .from(
    ".left-ctr h1",
    { opacity: 0, duration: 1, y: 100, skewY: 10, stagger: { amount: 0.4 } },
    "-=1"
  )
  .from(
    [".left-ctr-2-1, .left-ctr-2-2"],
    { opacity: 0, duration: 1, y: 100, stagger: { amount: 0.4 } },
    "-=1"
  )
  .from(".right-ctr", { duration: 1, x: 500, skewX: 50 }, "-=1");

  </script>
</body>
</html>